body {
    font: 20px Verdana, sans-serif;
    background-color: #1b1b1b;
}

h3 {
    font-size: 40px;
  }

.navbar {
    background-color: #000000;
}

.nav-link {
    color: #ffffff;
}

.margin {
    padding-top: 15px;
    padding-bottom: 40px;
}

.quem-somos {
    background-color: #0c8aad;
    color: #ffffff;
}

/*quem somos*/
.q-img {
    width: 450px; 
    height: 450px;
    object-fit: cover;
}

.parceiros {
    background-color: #4b3aa0;
    color: #ffffff;
}

.serviços {
    padding-top: 15px;
    height: 75px;
    background-color: #1b1b1b;
    color: #ffffff;
}

/*carousel*/
.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.bg-footer {
    height: 35px;
    background-color: #1b1b1b;
    color: white;
}
